<h1 class="mt-4">{{title}}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{title}}</li>
</ol>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- <i class="fas fa-table me-1"></i> -->
        Objektif
    </div>
    <div class="card-body">
       <p>Memberi perkhidmatan pelesenan dan permit yang cekap dan berkesan kepada pihak berkepentingan (stakeholders) selaras dengan Akta Lembaga Getah Malaysia (Perbadanan) 1996 (Akta 551) dan Peraturan-Peraturan Lembaga Getah Malaysia (Pelesenan dan Permit) 2014 supaya pengawalseliaan industri getah negara yang teratur.</p>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        Visi
    </div>
    <div class="card-body">
        <p>Menjadi badan kawalselia industri getah yang berprestasi tinggi, berintegriti, dinamik dan komprehensif.</p>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        Misi
    </div>
    <div class="card-body">
        <p>Memperkasakan pengawalseliaan industri getah negara melalui perkhidmatan pelesenan dan permit yang berkualiti, efisien dan efektif.</p>
    </div>
</div>
