<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center mt-4">
            <h1 class="display-1">500</h1>
            <p class="lead">Internal Server Error</p>
            <a href="index.html">
                <i class="fas fa-arrow-left me-1"></i>
                Return to Dashboard
            </a>
        </div>
    </div>
</div>


<!-- <body>
	<table style="width:100%;">
		<tr>
			<td></td>
			<th style="width:100%; text-align: left; font-weight:bold;">PEJABAT KETUA PENGARAH PERTANIAN
				<br />JABATAN PERTANIAN WISMA TANI
				<br />ARAS 17, NO. 30 PERSIARAN PERDANA
				<br />PRESINT 4, 62624 PUTRAJAYA

		</tr>
	</table>
	<div style="padding:10px; text-align: right; font-weight:bold;">
		Telefon: 03-88703000 Fax : 03-8888 5069 / 03-8888 8493/ <br /> 03-8888 8284 / 03-8870 3044
	</div>
	<hr style="margin-top:20px;">
	<div style="padding:10px; text-align: right; font-weight:bold;">
		Ruj.Kami : JP.KPP.UKK.500-9/6/<br />Tarikh :

	</div>

	<table style="margin-bottom:10px;">
		<tr>
			<td style="width:680px"><b>KEPADA SESIAPA YANG BERKENAAN</b></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<td style="width:680px">YBhg. Datuk/Dato’/Dr/Tuan/Puan,</td>

		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<td><b>PENGESAHAN KETERLIBATAN DALAM AKTIVITI RANTAIAN PEMBEKALAN DAN PEMASARAN BERKAITAN KEPERLUAN
					MAKANAN</b>
			</td>

		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<td style="width:680px">Dengan hormatnya saya ingin merujuk kepada perkara di atas.</td>

		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table style="margin-bottom:10px;">
		<tr>
			
			<td style="text-align: justify;">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Selaras dengan pelaksanaan Perintah Kawalan
				Pergerakan (PKP) 3.0 di seluruh negara bermula 1 Jun 2021, sektor agromakanan (pertanian, perikanan,
				penternakan dan rantaiannya) adalah disenaraikan sebagai perkhidmatan perlu <span
					style="font-style: italic;">(essential services).</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>

		<tr>
			<td style="text-align: justify;">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dengan ini, Kementerian Pertanian dan
				Industri
				Makanan (MAFI) ingin mengesahkan bahawa <span style="font-weight:bold;">
					<?php $fullname ;?>
				</span> terlibat secara langsung dengan perkhidmatan perlu <span style="font-style: italic;">(essential
					services)</span> agromakanan dan dibenarkan untuk melaksanakan aktiviti dalam tempoh PKP yang telah
				diumumkan oleh Kerajaan. Maklumat pemohon adalah seperti berikut:</td>

		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>

	<table style="margin-bottom:10px;">
		<tr>
			<td class="colnum">&nbsp;</td>
			<td style="font-weight: bold;">Nama</td>
			<td>:</td>
			<td style="width:130px; font-weight: bold;"></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="colnum">&nbsp;</td>
			<td style="font-weight: bold;">No. Pendaftaran Syarikat</td>
			<td>:</td>
			<td style="width:130px; font-weight: bold;"></td>
		</tr>
	</table>
	<table style="margin-bottom:10px;">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: justify;">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pihak MAFI ingin menegaskan agar pihak
				syarikat
				supaya sentiasa mematuhi arahan PKP dan SOP yang telah ditetapkan oleh Kerajaan. Sebarang pertanyaan
				berhubung perkara ini bolehlah dirujuk kepada <b>Bilik Gerakan Pemantauan Krisis COVID-19, Jabatan
					Pertanian
					Malaysia (DOA) di 03-8870 3042/3045</b> atau emel <b>gerakan@doa.gov.my.</b></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
	<table>

		<tr>
			<td colspan="3" style="width:55%;">
				Sekian, terima kasih.
				<br />
			</td>
		</tr>
	</table>
	<br />
	<br />
	<b><i>Ini adalah cetakan komputer dan tidak perlu ditandatangani</i></b>

	<hr style="margin-top:20px;">
	<img style="margin-left:45%; width:120px;" src="" />
</body> -->